extends layout

block heading
  link(rel="stylesheet", href="/stylesheets/about.css")

block content
  .main-container
    //- Intro section
    img(src="/assets/graphics/About.svg", alt="About").width-90
    .width-90
      p.mid.width-60 I am Quan, a creative UX engineer with 3 years of experience in developing and designing innovative solutions. <br><br> My main fields are Product Development and Software Engineering. I also enjoy experimenting with AI and designing graphic arts in my free time.
    .divider 

    //- Journey section
    .about-container.width-90 
      h1 Journey
      #journey-container 
        each journey in aboutJourney
          .journey-section.width-20
            p.large= journey["Year"]
            p= journey["Description"]
            img(src=journey["Image"] + journey["Format"], alt=journey["Year"],
              srcset=journey["Image"] + "@0.25x" + journey["Format"] + " 0.25x, " + journey["Image"] + "@0.5x" + journey["Format"] + " 0.5x",
              style="left:" + journey["HorizontalOffset"] + "rem; top:" + journey["VerticalOffset"] + "rem;",
              class=journey["Landspace"] ? 'landscape' : 'portrait')
    .divider 

    //- Experience section
    .about-container.width-90 
      h1 Experience
      #experience-container
        each exp in aboutExp
          .experience-section(id=exp["Name"])
            .description-container.width-30
              //- Heading
              h2= exp["Name"]
              p!= exp["Description"]
              //- Statistics
              .stats-container
                .stats-section 
                  h3 Years
                  p.large-number= exp["Years"]
                .stats-section 
                  h3 Projects
                  p.large-number= exp["Project"] 
              //- Tools and skills
              .tool-container 
                h3 Tools and skills 
                .tool-section 
                  each tool in exp["Skills"]
                    .tool-items
                      img(src=tool["Image"] + tool["Format"], alt=tool["SkillName"]
                        srcset=tool["Image"] + "@0.1x" + tool["Format"] + " 0.1x, " + tool["Image"] + "@0.5x" + tool["Format"] + " 0.5x")
                      p= tool["SkillName"]
            img(src=exp["Thumbnail"], alt=exp["Name"],
              srcset=exp["Thumbnail"] + "@0.25x" + exp["Format"] + " 0.25x, " + exp["Thumbnail"] + "@0.5x" + exp["Format"] + " 0.5x, " + exp["Thumbnail"] + "@1.5x" + exp["Format"] + " 1.5x"
            ).width-60
          .divider
    .divider 

    //- Future section
    .about-container.width-90 
      h1 Future development
      .width-90
        p.width-60 I am seeking to leverage my expertise in software engineer and product development by joining cutting-edge projects that aims at solving real-world problems. <br><br> Besides, a job/title in academia is what I'm aiming for in longer terms. I am  fascinated in the phenomenally interactive application of AI and Large Language Model (i.e., Chat GPT) on everyday's tasks, including but not limited to write emails, design graphics, browse inspirations, and write “bugs”.

block scripts 
  script(src="../javascripts/aboutScroll.js") 