
extends layout

block heading
  link(rel="stylesheet", href="../stylesheets/contact.css")

block content
  .main-container
    img(src="../assets/graphics/"+title+".svg", alt=title).width-90

    p.mid.width-90 Let's create memorable experiences together

    .contact-section.width-90
      h1 CONTACT INFORMATION
      .info-connect-container 
        //- Basic information
        each info in contactInfo
          .info-connect-section
            svg(xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none")
              path(d=icons[info["SVG"]])
            .info-subsection
              p= info["Details"]

        //- Email
        .info-connect-section
          svg(xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none")
            path(d=icons["Email"])
          a(href="mailto:" + contactEmail["Link"]).button
            p= contactEmail["Details"]

    .contact-section.width-90 
      h1 CONNECT ME ON 
      .info-connect-container
        //- Social media sites
        each connect in contactConnect
          .info-connect-section
            .connect-subsection 
              svg(xmlns="http://www.w3.org/2000/svg" width="18" height="14" viewBox=connect["ViewBox"])
                path(d=icons[connect["SVG"]])
              h3= connect["Name"]
            a(href=connect["Link"]).button
              p= connect["Details"]